a.anchor{display: block; position: relative; top: -250px; visibility: hidden;}

header{
    background: #fff;
    top:0px;
    height:60px;
    line-height: 60px;
    border-bottom: 1px solid #F4F4F4;
}

header .nameHeading{
    font-size:50px;
}

section{
text-align: center;
}

strong{
    font-weight: bold;
}

.internalNavigation{
    /* display: inline-block; */
    text-align: left;
    /* margin: 100px 0; */
    /* margin: 70px; */
    /* float: left; */
    position: fixed;
    top: 145px;
}

.internalNavigation li{
    margin:20px;
    font-size:20px;
    color: #465465;
}

.policyContainer{
    display: inline-block;
    padding: 10px;
    text-align: left;
    max-width: 800px;
    border: 2px solid #313D4C;
    color: #465465;
    margin: 100px 0;
    margin-left: 600px;
}

.policyContainer .nameHeading{
    font-size:26px;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom:10px;
}

.privacyPolicyHeading{
    font-size:30px;
    display:block;
    text-align: center;
    margin: 30px 0;
}

.policyContainer .content{
    font-size: 15px;
    line-height: 24px;
    text-align: justify;
    padding:30px;
}


.aboutContainer{
    text-align: left;
}


.aboutContainer h1,.contactContainer h1{
    font-size: 35px;
    margin-bottom: 20px;
}

.aboutContainer h2,.contactContainer h2{
    font-size: 28px;
    margin: 20px 0 10px 0;
}

.aboutContainer p{
    font-size: 15px;
}

.contactContainer,.aboutContainer{
    line-height: 1.6;
    width: 500px;
    display: inline-block;
    background: #fff;
    color:#465465;
    padding: 20px;
    margin: 100px 0;
    bbox-shadow: 0px 1px 3px rgba(100, 100, 100, 0.40);
}

.contactContainer h1{
    text-align: left;
}