.forgotPassContainer{
    background: #ffffff;
    display: inline-block;
    padding: 20px;
    width:600px;
    box-shadow: 0px 1px 3px rgba(100, 100, 100, 0.40);
    color: #4E4E53;
}

.forgotPassContainer h1{
    font-size: 30px;
    margin: 20px;
}

.forgotPassContainer h2{
    font-size: 20px;
    line-height: 1.3;
    margin: 10px;
}

.forgotPassContainer input{
    background: none;
    border: none;
    border-bottom: 2px solid grey;
    margin: 10px;
}

.forgotPassContainer input:focus {
    outline: none;
}

.forgotPassContainer .buttonContainer{
    border:2px solid #AF7AC5;
    margin:10px;
}

.forgotPassContainer  button{
    background:#AF7AC5 ;
    width:285px;

}