header{
    background: #fff;
    top:0px;
    height:60px;
    line-height: 60px;
}

header .nameHeading{
    font-size:50px;
}

section:after {
    height: 142px;
    background:#E6E6E6;
}


.headingBar h1{
    font-size: 32px;
}




.registrationStepsContainer {
    background: #ffffff;
    display: inline-block;
    box-shadow: 0px 1px 3px rgba(100, 100, 100, 0.40);
    margin: 100px 0;
}

.registrationTimeline{
    padding:20px;
    border-bottom:1px solid #CCCCCC;
}

.registrationTimeline span{
    display: inline-block;
    width:40px;
    height:40px;
    border-radius: 50%;
    line-height: 40px;
    font-size: 20px;
    cursor: pointer;
    border:2px solid #ED1F23;;
    color: #ED1F23;;
}



.registrationTimeline span.completed{
    background: url("../images/New%20folder/right1.png");
    background-repeat: no-repeat;
    background-size: 25px;
    background-position: center;
    position: relative;
    top: 13px;

 }

.registrationTimeline .connectingLine{
    background: #ED1F23;;
}


.registrationTimeline .connectingLine{
    display: inline-block;
    width: 130px;
    height:3px;
    position: relative;
   top:-5px;
}

.registrationTimeline span.disabled{
    color:#ccc;
    border:2px solid #ccc;
    background: url("");
}

.registrationTimeline .connectingLine.disabled{
    background: #ccc;
}

.tutorRegistrationSteps {
    display: inline-block;
    background: #ffffff;
    width: 100%;
    min-width: 600px;
    overflow: hidden;
    height: auto;
}

.successMessage h1{
    margin: 20px;
    font-size: 22px;
    line-height: 1.4;
}




.tutorRegistrationSteps input{
    margin-bottom:20px;
    margin-left:50px;
    width:320px;
    border-radius: 3px;
    background: #f9f9f9;
    border: 1px solid #ccc;
}


.tutorRegistrationSteps .radioButtons {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 50px;
    width: 320px;
    /* text-align: center; */
}


.tutorRegistrationSteps input[type="radio"]{
    margin: 0;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 10px;
    border: 1px solid #ccc;
    -webkit-appearance: none;
    border-radius: 50%;
    outline: none;
}

.tutorRegistrationSteps input[type="radio"]:before {
    content:'';
    display:block;
    width:100%;
    height:100%;
    margin: 0 auto;
    border-radius:50%;
}

.tutorRegistrationSteps input[type="radio"]:checked:before{
    background:#ED1F23;
}


.tutorRegistrationSteps label{
    margin-right:40px;
}

.tutorRegistrationSteps button{
    background:#ED1F23;
}

.tutorRegistrationSteps input[type="checkbox"]{
    margin:0;
    width: 20px;
    height: 20px;
    margin-right: 5px;

}

.tutorRegistrationSteps input:focus {
    outline: none;
}

.tutorRegistrationSteps .buttonContainer{
float: right;
    margin:20px;
}

.tutorRegistrationSteps .headingBar{
    width:100%;
    top:0;
    left:0;
}

.tutorRegistrationSteps button{
    width: 170px;
    height: 40px;
    line-height: 40px;
    float:right;
    margin:20px;
}

.tutorRegistrationStep1 .paddingBox span{
    width: 170px;
    font-size: 18px;
    display: inline-block;
}

.paddingBox{
    text-align: left;
    padding:20px;
}

.tutorRegistrationSteps .headingBar{
    border-bottom: 2px solid #ED1F23;;
    color:#ED1F23;;
}


.tutorRegistrationStep3 h2{
    font-size: 22px;
    margin: 10px 0;
}

.subjectsGroupHeading{
    display: block;
    font-size: 20px;
    margin: 20px 0;
}

.subjectGroup .subject{
    display: inline-block;
    margin-right:20px;
}

.tutorRegistrationStep3 textarea{
    width: 600px;
    height: 170px;
    display: block;
}