<!DOCTYPE html>
<html ng-app="myApp">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="javascripts/lib/angular.min.js"></script>
    <script src="javascripts/lib/angular-file-upload-shim.min.js"></script>
    <script src="javascripts/lib/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="javascripts/form-app.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">

</head>
<body>
{{4+2}}
    <div ng-controller="FormCtrl">
    <form name="reqLessonForm"  ng-submit="submitData()" novalidate>
        Subject:<input type="text" name="subject" ng-model="subject" required /><br/>
       Message:<textarea ng-model="message" required></textarea><br/>
        <div ng-controller="FileCtrl">
            <input type="file" ng-file-select="onFileSelect($files)" multiple>
        </div>
        Deadline:<input type="number" name="input" ng-model="deadline"
                        min="0" max="99" required><br/>
        No. of hours:<input type="number" ng-model="hours" min="0" max="99" required/><br/>
        <select ng-model="mode" required>
            <option value="0">private</option>
            <option value="1">public</option>
        </select>
        <button type="submit" ng-disabled="reqLessonForm.$invalid">Submit</button><br/>
    </form>
    </div>

</body>
</html>