<!DOCTYPE html>
<html ng-app="indexApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>HelpDU</title>
    <script type="text/javascript" src="../javascripts/lib/angular.min.js"></script>
    <!--<script type="text/javascript" src="javascripts/lib/angular-facebook.js"></script>-->
    <script src="../javascripts/lib/angular-file-upload-shim.min.js"></script>
    <script src="../javascripts/lib/angular-file-upload.min.js"></script>
    <script type="text/javascript" src="../javascripts/lib/angular-Material-Preloader.min.js"></script>
    <script type="text/javascript" src="../javascripts/directives/directives.js"></script>
    <script type="text/javascript" src="../javascripts/services/services.js"></script>
    <script type="text/javascript" src="../javascripts/directives/focus-directive.js"></script>
    <script type="text/javascript" src="../javascripts/index-app.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="../stylesheets/materialPreloader.min.css" rel="stylesheet prefetch">
    <link rel="stylesheet" type="text/css" href="../stylesheets/css-reset.css"/>
    <link rel="stylesheet" type="text/css" href="../stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" href="../stylesheets/billing-style.css"/>

</head>

<body ng-controller="MenuCtrl" ng-init="getStudentProfileData()" ><!--ng-show="Authenticated"-->

<aside   stop-event ng-class="{asideOpen:menuOpened,asideClose:!menueOpened,clicked:clicked,notClicked:!clicked}" >
    <ul ng-controller="NavCtrl">
        <li class="helpduNameHeading">HelpDU</li>

        <li  class="navigationList"><!--ng-show="!anyoneLoggedIn"-->
            <ul>
                <a href="/student/lesson"><li class="icon" id="lessons" >Lessons</li></a>
                <a href="/student/messages"><li class="icon" id="messages" >Messages</li></a>
                <a href="/student/notifications"><li class="icon" id="notifications" >Notifications</li></a>
                <a href="/student/billing"><li class="icon" id="billing" >Billing</li></a>
                <a href="/student/buyHours"><li class="icon" id="buyHours" >Buy Hours</li></a>
            </ul>
        </li>
        <!--<li class="tutorChatList" ng-show="studentLoggedIn">
            <ul>
                <li ng-repeat="tutor in tutors">{{tutor.name}}</li>
            </ul>
        </li>-->
    </ul>
</aside>


<div id="mainContentWrapper" ng-class="menuOpened ? 'asideOpen' : 'asideClose'">
    <header>
        <div class="options" ng-click="toggleMenu();" stop-event>
            <div class="optionBar optionBar1"></div>
            <div class="optionBar optionBar2"></div>
            <div class="optionBar optionBar3"></div>
        </div>




        <input id="search" type="text" placeholder="Search for tutors by subject"/>
        <div id="header-right-container">
            <div class="rightControls">
                <div class="notifControl controls" ng-click="toggleBox(1);" stop-event>
                    <div class="notifControlBox" ng-show="boxId == 1 && boxOpened" stop-event>
                        <div class="notifControlTri"></div>
                    </div>
                </div>
                <div class="messageControl controls" ng-click="toggleBox(2);" stop-event>
                    <div class="messageControlBox" ng-show="boxId == 2 && boxOpened" stop-event>
                        <div class="messageControlTri"></div>
                    </div>
                </div>
                <div class="profileControl controls"></div>
            </div>
        </div>
    </header>
    <section>

        <div ng-controller="StudentBillingCtrl" class="billingContainer">
            <div class="walletBigContainer"><div class="walletContainer">
                <div class="headingBar"><div class="headingBarIcon"></div><h1>HelpDU Wallet</h1>
                </div>
                <h2>Your wallet has</h2>
                <div class="hoursContainer"><span class="hour">{{balance}}</span><span>Hours</span></div>
            </div>
                <div class="transactionHistory" id="hourTransactionHistory">
                    <div class="headingBar"><div class="headingBarIcon"></div><h1>Hours Transaction History</h1>
                    </div>
                    <table>
                        <tr>
                            <th>Date</th>
                            <th>Type</th>
                            <th>Lesson</th>
                            <th>Amount</th>
                        </tr>
                        <tr ng-repeat="bill in bills">
                            <td>{{bill.createdTimestamp | date:"MM/dd/yyyy"}}</td>
                            <td>{{bill.transactionType}}</td>
                            <td><span ng-show="{{bill.transactionType == 'wallet'}}">-</span><span ng-show="!({{bill.transactionType == 'wallet'}})">View Lesson</span></td>
                            <td><span ng-show="{{bill.creditAmount == 0}}">+{{bill.debitAmount}}</span><span ng-show="{{bill.debitAmount == 0}}">-{{bill.creditAmount}}</span></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div></div>

            <div class="transactionHistory" id="financeTransactionHistory">
                <div class="headingBar"><div class="headingBarIcon"></div><h1>Finance Transaction History</h1>
                </div>
                <table>
                    <tr>
                        <th>Date</th>
                        <th>Hours Bought</th>
                        <th>Amount</th>
                    </tr>
                </table>
            </div>


        </div>

    </section>
    <footer>
        <div class="container">
            <p>©2015 HelpDU. All rights reserved.</p>
            <ul>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
                <li>
                    <a href="">Terms &amp; Conditions</a>
                </li>
                <li>
                    <a href="">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </footer>
</div>
</body>
</html>